{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Batafsil ma`lumot{% endblock title%}

{% block content %}
<div class="container">
<h1>Batafsil ma`lumot</h1>
<p>
    {{ article.body }}
</p>    <hr><br>

        <div class="row mb-4">
            <div class="col-6">
                <form method="post" action="{% url 'reviews' article.id %}">
                    {% csrf_token %}
                {{ review_form | crispy }}
                    <button class="btn btn-success">Jo`natish</button>
                </form>
            </div>
        </div>


        <h2>Izohlar</h2>
            {% for review in article.comment_set.all %}
                    <div class="row mb-3">
                        <div class="col-7">
                    <p class="fst-italic">{{ review.comment }}</p>
                   <p class="fw-bolder"> {{ review.author.username }} {{ review.created_at}}</p>
                        </div>
                    </div>
            {% endfor %}

</div>
{% endblock content %}